{{ partial "header-projects.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="/"><span class="prof"> <img src="{{ .Params.profimage }}" alt="" /> <op> Home </op> </span></a>
                    </div>
                    <div class="content">
                        <div class="inner">
                            <h1>{{ .Title | default "Title" }}</h1>
                            {{ if .Params.description }}
                            <p>
                                {{ .Params.description }}
                            </p>
                            {{ end }}
                        </div>
                    </div>
                    <nav>
                        <ul>
                            {{ range .Pages.ByParam "key" }}
                                {{if .Title }}
                                    {{if .Content}}
                                        <li><a href="#{{ .Title | urlize }}">
                                            <img src="{{ .Params.galleryimage }}" alt="" />
                                            <op> {{ .Title }} </op>
                                        </a>
                                    {{ else }}
                                        <li><a href="#{{ .Title | urlize }}">
                                            <img src="{{ .Params.galleryimage }}" alt="" />
                                            <op> {{ .Title }} </op>
                                        </a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </nav>
                </header>

            <!-- Main -->
                <div id="main">

                    {{ range .Pages }}
                        {{if .Title }}
                            {{if .Content }}
                                <article id="{{ .Title | urlize }}">
                                    <span class="image-main"><img src="{{ .Params.galleryimage }}" alt="" />
                                        <form>
                                            <button formaction="{{ .Params.learnmore }}" formtarget="_blank" > Project Link
                                                
                                            </button>
                                          </form>
                                    </span>
                                    <div class = "text-side">
                                    <h2 class="major">{{ .Title }}</h2>
                                    <div class = "content"> {{ .Content }}</div> 
                                </div>
                                </article>
                            {{ end }}
                        {{ end }}
                    {{ end }}

                </div>

                {{ partial "design.html" .}}

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" .}}
